repos:
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
    language_version: python3
    # args: [--line-length 79]

- repo: https://github.com/pycqa/flake8
  rev: 3.8.3
  hooks:
  - id: flake8
    exclude: docs/conf.py
    additional_dependencies: [flake8-bugbear, flake8-print]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.3.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: fix-encoding-pragma
  - id: requirements-txt-fixer
  - id: trailing-whitespace

- repo: https://github.com/mgedmin/check-manifest
  rev: "0.42"
  hooks:
  - id: check-manifest
    stages: [manual]

- repo: https://github.com/nbQA-dev/nbQA
  rev: 0.4.0
  hooks:
  - id: nbqa-black
    args: ["--nbqa-mutate"]
    additional_dependencies: [black==20.8b1]
  - id: nbqa-isort
    args: ["--nbqa-mutate", "--nbqa-config=setup.cfg", "-p=sktime"]
    additional_dependencies: [isort==5.6.4]
  - id: nbqa-flake8
    args: ["--nbqa-config=setup.cfg", "--extend-ignore=E402,E203"]
    additional_dependencies: [flake8==3.8.3]
