# whitelist the following branches for building
branches:
    only:
        - master
        - dev

dist: trusty
sudo: false

language: python

cache:
    directories:
        - $HOME/.cache/pip

matrix:
    include:
        # add more combinations here as per requirement
        - env: PYTHON_VERSION="3.7" NUMPY_VERSION="1.15" SCIPY_VERSION="1.1"
               SKLEARN_VERSION="0.20" PANDAS_VERSION="0.24"

install:
    # install miniconda
    - deactivate
    - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
    - MINICONDA_PATH=/home/travis/miniconda
    - chmod +x miniconda.sh && ./miniconda.sh -b -p $MINICONDA_PATH
    - export PATH=$MINICONDA_PATH/bin:$PATH
    - conda update --yes conda
    # create the testing environment
    - conda create -n testenv --yes python=$PYTHON_VERSION pip
    - source activate testenv
    - conda install --yes numpy==$NUMPY_VERSION scipy==$SCIPY_VERSION scikit-learn==$SKLEARN_VERSION pandas==$PANDAS_VERSION nose pytest pytest-cov sphinx

script:
    - mkdir for_test
    - cd for_test
    - pytest -v --cov=sktime --pyargs ../sktime --cov-report html

after_success:
    - cd ../documentation
    - make html

deploy:
    provider: pages
    skip-cleanup: true
    local_dir: "./documentation/build_doc_site/html"
    github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
    keep-history: true
    on:
        branch: dev
