# The file lists sktime's algorithm maintainers as specified in GOVERNANCE.md.
# Each line is a file pattern followed by one or more owners.

* @fkiraly @aiwalter @guzalbulatova


sktime/regression/dummy/ @badrmarani

sktime/classification/dictionary_based/_boss.py @patrickzib @MatthewMiddlehurst @TonyBagnall
sktime/classification/dictionary_based/_cboss.py @patrickzib @MatthewMiddlehurst @TonyBagnall
sktime/classification/dictionary_based/_muse.py @patrickzib @MatthewMiddlehurst @TonyBagnall
sktime/classification/dictionary_based/_tde.py @patrickzib @MatthewMiddlehurst @TonyBagnall
sktime/classification/dictionary_based/_weasel.py @patrickzib @MatthewMiddlehurst @TonyBagnall
sktime/classification/distance_based/ @goastler @TonyBagnall
sktime/classification/dummy/ @ZiyaoWei
sktime/classification/early_classification/_probability_threshold.py @MatthewMiddlehurst
sktime/classification/early_classification/_teaser.py @patrickzib @MatthewMiddlehurst
sktime/classification/feature_based/_catch22_classifier.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/feature_based/_fresh_prince.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/feature_based/_matrix_profile_classifier.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/feature_based/_random_interval_classifier.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/feature_based/_signature_classifier.py @jambo6
sktime/classification/feature_based/_summary_classifier.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/feature_based/_tsfresh_classifier.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/hybrid/_hivecote_v1.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/hybrid/_hivecote_v2.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/interval_based/_cif.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/interval_based/_drcif.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/interval_based/_rise.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/interval_based/_stsf.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/interval_based/_tsf.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/kernel_based/_arsenal.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/kernel_based/_rocket_classifier.py @MatthewMiddlehurst @TonyBagnall
sktime/classification/shapelet_based/_stc.py @ABostrom @MatthewMiddlehurst @TonyBagnall
sktime/classification/sklearn/_continuous_interval_tree.py @MatthewMiddlehurst
sktime/classification/sklearn/_rotation_forest.py @MatthewMiddlehurst

sktime/transformations/panel/dictionary_based/_paa.py @patrickzib @MatthewMiddlehurst
sktime/transformations/panel/dictionary_based/_sax.py @patrickzib @MatthewMiddlehurst
sktime/transformations/panel/dictionary_based/_sfa.py @patrickzib @MatthewMiddlehurst
sktime/transformations/panel/dictionary_based/_sfa_fast.py @patrickzib @MatthewMiddlehurst
sktime/transformations/panel/catch22.py @MatthewMiddlehurst
sktime/transformations/panel/catch22wrapper.py @MatthewMiddlehurst
sktime/transformations/panel/random_intervals.py @MatthewMiddlehurst
sktime/transformations/panel/shapelet_transform.py @ABostrom @MatthewMiddlehurst @TonyBagnall
sktime/transformations/panel/supervised_intervals.py @MatthewMiddlehurst
sktime/transformations/panel/rocket/ @angus924
sktime/transformations/panel/rocket/_multirocket.py @ChangWeiTan @fstinner @angus924
sktime/transformations/panel/rocket/_multirocket_multivariate.py @ChangWeiTan @fstinner @angus924
sktime/transformations/series/impute.py @aiwalter
sktime/transformations/series/outlier_detection.py @aiwalter
sktime/transformations/series/compose.py @aiwalter
sktime/transformations/series/feature_selection.py @aiwalter
sktime/transformations/panel/signature_based/ @jambo6
sktime/transformations/series/theta.py @GuzalBulatova
sktime/transformations/series/difference.py @rnkuhns
sktime/transformations/series/exponent.py @rnkuhns
sktime/transformations/series/scaledlogit.py @ltsaprounis
sktime/transformations/series/kalman_filter.py @NoaBenAmi
sktime/transformations/panel/augmenter.py @MrPr3ntice @iljamaurer
sktime/transformations/multiplex.py @miraep8
sktime/transformations/tests/test_multiplexer.py @miraep8
sktime/transformations/panel/channel_selection.py @haskarb @a-pasos-ruiz @TonyBagnall
sktime/transformations/series/time_since.py @KishManani

sktime/forecasting/base/ @fkiraly @mloning @aiwalter
sktime/forecasting/base/adapters/_statsforecast.py @FedericoGarza
sktime/forecasting/naive.py @Flix6x
sktime/forecasting/ets.py @HYang1996
sktime/forecasting/tests/test_ets.py @HYang1996
sktime/forecasting/fbprophet.py @aiwalter
sktime/forecasting/bats.py @aiwalter
sktime/forecasting/tbats.py @aiwalter
sktime/forecasting/arima.py @HYang1996
sktime/forecasting/adapters/_hcrystalball.py @MichalChromcak
sktime/forecasting/statsforecast.py @FedericoGarza
sktime/forecasting/structural.py @juanitorduz
sktime/forecasting/model_selection/_split @koralturkk
sktime/forecasting/compose/_column_ensemble.py @GuzalBulatova
sktime/forecasting/compose/_multiplexer.py @koralturkk @aiwalter
sktime/forecasting/compose/_pipeline.py @aiwalter
sktime/forecasting/compose/_ensemble.py @aiwalter
sktime/forecasting/online_learning/ @magittan
sktime/forecasting/sarimax.py @TNTran92

sktime/performance_metrics/forecasting/_functions.py @aiwalter @rnkuhns
sktime/performance_metrics/forecasting/_classes.py @rnkuhns
sktime/performance_metrics/annotation

sktime/annotation/clasp.py @patrickzib @ermshaua
sktime/annotation/igts.py
sktime/annotation/ggs.py
sktime/annotation/datagen.py
sktime/transformations/series/clasp.py @patrickzib @ermshaua

.github/workflows/* @freddyaboulton

sktime/utils/mlflow_sktime.py @benjaminbluhm
