[project]
name = "sktime"
version = "0.15.0"
description = "A unified framework for machine learning with time series"
authors = [
    {name = "Franz Király", email = "f.kiraly@ucl.ac.uk"},
    {name = "Tony Bagnall", email = "ajb@uea.ac.uk"},
    {name = "Markus Löning"},
    {name = "Martin Walter", email = "mwalter@sktime.org"},
]
maintainers = [
    {name = "sktime developers", email = "info@sktime.org"},
    {name = "Franz Király", email = "fkiraly@sktime.org"},
    {name = "Guzal Bulatova", email = "gbulatova@sktime.org"},
    {name = "Martin Walter", email = "mwalter@sktime.org"},
]
readme = "README.md"
keywords = [
    "data-science",
    "machine-learning",
    "data-mining",
    "time-series",
    "scikit-learn",
    "forecasting",
    "time-series-analysis",
    "time-series-classification",
    "time-series-regression",
]
classifiers = [
    "Intended Audience :: Science/Research",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python",
    "Topic :: Software Development",
    "Topic :: Scientific/Engineering",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX",
    "Operating System :: Unix",
    "Operating System :: MacOS",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]
requires-python = ">=3.7,<3.11"
dependencies = [
    "deprecated>=1.2.13",
    "numba>=0.55",
    "numpy>=1.21.0,<1.25",
    "pandas>=1.1.0,<1.6.0",
    "scikit-learn>=0.24.0,<1.3.0",
    "statsmodels>=0.12.1",
    "scipy<2.0.0",
]

[project.optional-dependencies]
all_extras = [
    "cloudpickle",
    "dask",
    "dtw-python",
    "esig==0.9.7; python_version < '3.10'",
    "filterpy>=1.4.5",
    "h5py",
    "hmmlearn>=0.2.7",
    "gluonts>=0.9.0",
    "keras-self-attention",
    "matplotlib>=3.3.2",
    "mne",
    "pmdarima>=1.8.0,!=1.8.1,<3.0.0",
    "prophet>=1.1",
    "pykalman>=0.9.5",
    "pyod>=0.8.0",
    "scikit_posthocs>=0.6.5",
    "seaborn>=0.11.0",
    "statsforecast>=0.5.2",
    "stumpy>=1.5.1",
    "tbats>=1.1.0",
    "tensorflow-probability",
    "tensorflow",
    "tsfresh>=0.17.0; python_version < '3.10'",
    "tslearn>=0.5.2",
    "xarray",
]

dev = [
    "backoff",
    "httpx",
    "pre-commit",
    "pytest",
    "pytest-cov",
    "pytest-randomly",
    "pytest-timeout",
    "pytest-xdist",
    "wheel",
]

mlflow = [
    "mlflow",
]

mlflow_tests = [
    "boto3",
    "botocore",
    "mlflow",
    "moto",
]

binder = [
    "jupyter",
]

docs = [
    "jupyter",
    "myst-parser",
    "nbsphinx>=0.8.6",
    "numpydoc",
    "pydata-sphinx-theme",
    "sphinx_issues==1.2.0",
    "sphinx-gallery==0.6.0",
    "sphinx-design==0.3.0",
    "sphinx==4.1.1",
    "tabulate",
]

dl = [
    "tensorflow",
    "tensorflow-probability",
]

[project.urls]
Homepage = "https://www.sktime.org"
Repository = "https://github.com/sktime/sktime"
Documentation = "https://www.sktime.org"
Download = "https://pypi.org/project/sktime/#files"
"API Reference" = "https://www.sktime.org/en/stable/api_reference.html"
"Release Notes" = "https://www.sktime.org/en/stable/changelog.html"

[project.license]
file = "LICENSE"

[build-system]
requires = ["setuptools>61", "wheel", "toml", "build"]
build-backend = "setuptools.build_meta"

[tool.nbqa.exclude]
black = "^docs/source/examples/"
flake8 = "^docs/source/examples/"
isort = "^docs/source/examples/"

[tool.setuptools]
zip-safe = true

[tool.setuptools.package-data]
sktime = [
    "*.csv",
    "*.csv.gz",
    "*.arff",
    "*.arff.gz",
    "*.txt",
    "*.ts",
    "*.tsv",
]

[tool.setuptools.packages.find]
exclude = ["tests", "tests.*"]
