code {
    color: #055781;
}

table.longtable tbody tr:nth-child(even) {
    background-color: #FDFDFD;

}
table.longtable tbody tr:nth-child(odd) {
    background-color: #F0F7FA;
}

table.longtable tbody tr {
    border-style: solid none solid none;
    border-width: 1px 0 1px 0;
    border-color: #ddd;
}

table.longtable tbody td {
    border-color: #ddd;
}

.alert-info {
    background-color: #d2edf6;
    border-color: #d2edf6;
    color: #555555;
}