convertdate >= 2.3.2
cython>=0.29.0
deprecated>=1.2.13
dtw_python>=1.1.5
esig==0.9.7
hcrystalball>=0.1.9
LunarCalendar >= 0.0.9
matplotlib
notebook
numba==0.53
numpy==1.19.3
pystan==2.19.1.1
seaborn
stumpy>=1.5.1,<=1.9.2
tbats>=1.1.0
tsfresh>=0.17.0
