include *.rst
recursive-include docs *
include *.md
recursive-include examples *
recursive-include sktime *.py
recursive-include sktime *.c *.h *.pyx *.pxd *.pxi *.tp
recursive-include sktime/datasets *.csv *.csv.gz *.arff *.arff.gz *.txt *.ts *.tsv *.tsf
include LICENSE
