name: validate code quality workflow
on:
  pull_request:
    branches:
      - main
jobs:
  code_quality:
    name: test code quality
    runs-on: ubuntu-latest
    steps:
      - name: repository checkout step
        uses: actions/checkout@v4
      - name: python environment step
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: install pre-commit
        run: python3 -m pip install pre-commit
      - id: changed-files
        name: identify modified files
        uses: tj-actions/changed-files@v39
      - name: run pre-commit hooks on modified files
        run: pre-commit run --color always --files ${{ steps.changed-files.outputs.all_changed_files }} --show-diff-on-failure
      - name: check missing __init__ files
        run: build_tools/fail_on_missing_init_files.sh
        shell: bash
  unit_test_base:
    needs: code_quality
    name: run unit tests for base framework
    uses: ./.github/workflows/test_base.yml
  unit_test_components:
    needs: code_quality
    name: run unit tests for individual components
    uses: ./.github/workflows/test_components.yml
