name: datasets
on:
  schedule:
    - cron: 0 0 1 * *
  workflow_call:
  workflow_dispatch:
jobs:
  test_internal_data:
    name: onboard
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        operating-system:
          - macos-latest
          - ubuntu-latest
          - ubuntu-22.04-arm
          - windows-latest
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: repository checkout step
        uses: actions/checkout@v5

      - name: update tracking reference step
        run: git remote set-branches origin main
        shell: bash

      - name: shallow clone update step
        run: git fetch --depth 1
        shell: bash

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: python environment step
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: dependencies installation step
        run: uv pip install .[tests]
        shell: bash
        env:
          UV_SYSTEM_PYTHON: 1

      - name: Show dependencies
        run: uv pip list

      - name: unit test step
        run: python3 -m pytest -m "not datadownload" sktime/datasets
        shell: bash

  test_external_data:
    name: downloads
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        operating-system:
          - macos-latest
          - ubuntu-latest
          - ubuntu-22.04-arm
          - windows-latest
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: repository checkout step
        uses: actions/checkout@v5

      - name: update tracking reference step
        run: git remote set-branches origin main
        shell: bash

      - name: shallow clone update step
        run: git fetch --depth 1
        shell: bash

      - name: python environment step
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: dependencies installation step
        run: python3 -m pip install .[tests,datasets]
        shell: bash

      - name: Show dependencies
        run: python -m pip list

      - name: unit test step
        run: python3 -m pytest -m "datadownload" sktime/datasets
        shell: bash
