name: test all
on:
  schedule:
    - cron: 0 0 * * 0
  workflow_dispatch:

jobs:
  code_quality:
    if: ${{ github.repository == 'sktime/sktime' }}
    name: code-quality
    runs-on: ubuntu-latest
    steps:
      - name: repository checkout step
        uses: actions/checkout@v6

      - name: python environment step
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: check missing __init__ files
        run: build_tools/fail_on_missing_init_files.sh
        shell: bash

  test_base:
    needs: code_quality
    name: base
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        operating-system:
          - macos-latest
          - ubuntu-latest
          - ubuntu-22.04-arm
          - windows-latest
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: checkout pull request branch
        uses: actions/checkout@v6

      - name: run tests on python ${{ matrix.python-version }}
        uses: ./.github/actions/test-base
        with:
          python-version-identifier: ${{ matrix.python-version }}
          sub-sample-estimators: "False"
          test-affected-estimators: "False"

  test_module:
    needs: code_quality
    name: module
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        operating-system:
          - macos-latest
          - ubuntu-latest
          - ubuntu-22.04-arm
          - windows-latest
        sktime-component:
          - alignment
          - classification
          - clustering
          - detection
          - forecasting
          - networks
          - param_est
          - regression
          - transformations
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: checkout pull request branch
        uses: actions/checkout@v6
      - name: run tests for component ${{ matrix.sktime-component }} on python ${{ matrix.python-version }}
        uses: ./.github/actions/test-component
        with:
          sktime-component-identifier: ${{ matrix.sktime-component }}
          python-version-identifier: ${{ matrix.python-version }}
          sub-sample-estimators: "False"
          test-affected-estimators: "False"

  test_other:
    needs: code_quality
    name: other
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        operating-system:
          - macos-latest
          - ubuntu-latest
          - ubuntu-22.04-arm
          - windows-latest
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: checkout pull request branch
        uses: actions/checkout@v6

      - name: update local git tracking reference
        run: git remote set-branches origin main

      - name: update local shallow clone
        run: git fetch --depth 1

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: create python virtual environment
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install OSX packages
        shell: bash
        run: ./.github/scripts/install_osx_dependencies.sh

      - name: install core, test and all soft dependencies
        run: uv pip install .[all_extras_pandas2,tests]
        env:
          UV_SYSTEM_PYTHON: 1

      - name: run unit tests
        run: >-
          python3
          -m pytest
          sktime
          --ignore sktime/base
          --ignore sktime/datasets
          --ignore sktime/alignment
          --ignore sktime/annotation
          --ignore sktime/classification
          --ignore sktime/clustering
          --ignore sktime/detection
          --ignore sktime/forecasting
          --ignore sktime/networks
          --ignore sktime/param_est
          --ignore sktime/regression
          --ignore sktime/transformations
          --matrixdesign False
          --only_changed_modules False

  detect-vm-classes:
    needs: code_quality
    name: detect all VM classes
    runs-on: ubuntu-latest
    outputs:
      obj_list: ${{ steps.get-vm-list.outputs.obj_list }}
      obj_list_length: ${{ steps.get-vm-list.outputs.obj_list_length }}

    steps:
      - name: checkout repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install sktime with dev dependencies
        run: uv pip install .[dev]
        env:
          UV_SYSTEM_PYTHON: 1

      - name: Get list of all VM classes
        id: get-vm-list
        run: |
          OBJ_LIST=$(python -c 'from sktime.tests.test_switch import _get_all_vm_classes; import json; obj_list = _get_all_vm_classes(); print(json.dumps(obj_list))')
          OBJ_LIST_LENGTH=$(python -c 'from sktime.tests.test_switch import _get_all_vm_classes; obj_list = _get_all_vm_classes(); print(len(obj_list))')
          echo "OBJ_LIST=$OBJ_LIST" >> $GITHUB_ENV
          echo "OBJ_LIST_LENGTH=$OBJ_LIST_LENGTH" >> $GITHUB_ENV
          echo "obj_list=$OBJ_LIST" >> $GITHUB_OUTPUT
          echo "obj_list_length=$OBJ_LIST_LENGTH" >> $GITHUB_OUTPUT

      - name: Print VM classes
        run: |
          echo "Number of VM classes: $OBJ_LIST_LENGTH"
          echo "VM classes: $OBJ_LIST"

  test-vm:
    needs: detect-vm-classes
    if: ${{ needs.detect-vm-classes.outputs.obj_list != '[]' }}
    name: vm

    strategy:
      fail-fast: false
      matrix:
        flag: ${{ fromJson(needs.detect-vm-classes.outputs.obj_list) }}
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install OSX packages
        run: ./.github/scripts/install_osx_dependencies.sh

      - name: Force non-GUI Matplotlib backend (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        shell: pwsh
        run: echo "MPLBACKEND=Agg" >> $env:GITHUB_ENV

      - name: Install sktime with dev dependencies
        run: uv pip install .[dev]
        env:
          UV_SYSTEM_PYTHON: 1

      - name: Install dependencies for ${{ matrix.flag }}
        run: |
          python -c "from sktime.registry import deps; print('\n'.join(deps('${{ matrix.flag }}')))" > deps.txt
          uv pip install -r deps.txt
        continue-on-error: true

      - name: Show dependencies
        run: uv pip list

      - name: Run tests with ${{ matrix.flag }}
        env:
          FLAG: ${{ matrix.flag }}
        shell: bash
        run: python -c "from sktime.tests._test_vm import run_test_vm; run_test_vm('${{ matrix.flag }}')"
