name: base
on:
  workflow_call:
jobs:
  detect:
    name: detect
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      base: ${{ steps.filter.outputs.base }}
    steps:
      - uses: actions/checkout@v5
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            base:
              - pyproject.toml
              - sktime/base/**
  test:
    needs: detect
    name:
    if: ${{ needs.detect.outputs.base == 'true' }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        operating-system:
          - macos-latest
          - ubuntu-latest
          - ubuntu-22.04-arm
          - windows-latest
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: checkout pull request branch
        uses: actions/checkout@v5

      - name: run tests on python ${{ matrix.python-version }}
        uses: ./.github/actions/test-base
        with:
          python-version-identifier: ${{ matrix.python-version }}
          sub-sample-estimators: "True"
          test-affected-estimators: "True"
