name: test base workflow
on:
  workflow_run:
    workflows:
      - validate code quality workflow
    types:
      - completed
jobs:
  detect:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: check for changes in base framework
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      base: ${{ steps.filter.outputs.base }}
    steps:
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            base:
              - sktime/base/**
  test:
    needs: detect
    name: test base framework
    if: ${{ needs.detect.outputs.base == 'true' }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
        operating-system:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: checkout pull request branch
        uses: actions/checkout@v4
      - name: run tests on python ${{ matrix.python-version }}
        uses: ./.github/actions/test-base
        with:
          python-version-identifier: ${{ matrix.python-version }}
          sub-sample-estimators: "True"
          test-affected-estimators: "True"
