name: Update Contributors

on:
  push:
    branches:
      - main
    paths:
      - '.all-contributorsrc'
  pull_request:
    branches:
      - main
    paths:
      - '.all-contributorsrc'
  pull_request_target:
    branches:
      - main
    paths:
      - '.all-contributorsrc'

jobs:
  generate-markdown-and-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Set up tool
        run: npm install all-contributors-cli
      - name: Generate file
        id: generate
        run: npx all-contributors generate
      - name: commit-and-push
        id: candp
        uses: stefanweifel/git-auto-commit-action@v4
        with:
          commit_message: '[AUTOMATED] update CONTRIBUTORS.md'
          file_pattern: 'CONTRIBUTORS.md'
          commit_user_name: github-actions[bot]
      - name: Echo Results
        if: steps.candp.outputs.changes_detected == 'true'
        run: echo "changes detected and committed."
