name: extras validation
on:
  pull_request:
    branches:
      - main
    paths:
      - pyproject.toml
  schedule:
    - cron: 0 0 1 * *
  workflow_dispatch:
jobs:
  test_installations:
    name: extras installation
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
        operating-system:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        sktime-extra:
          - alignment
          - annotation
          - classification
          - clustering
          - forecasting
          - networks
          - param_est
          - regression
          - transformations
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: checkout pull request branch
        uses: actions/checkout@v4
      - name: install ${{ matrix.sktime-extra }} extra on python ${{ matrix.python-version }}
        uses: ./.github/actions/validate-extra
        with:
          sktime-extra-identifier: ${{ matrix.sktime-extra }}
          python-version-identifier: ${{ matrix.python-version }}
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
