name: Build wheels and publish to PyPI

on:
  release:
    types: [published]

jobs:
  build_wheels:
    name: Build wheels
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Build wheel
        run: |
          python -m pip install build
          python -m build --wheel --sdist --outdir wheelhouse

      - name: Store wheels
        uses: actions/upload-artifact@v2
        with:
          name: wheels
          path: wheelhouse/*

  test_unix_wheels:
    needs: build_wheels
    name: Test wheels on ${{ matrix.os }} with ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macOS-11]
        python-version: ['3.7', '3.8', '3.9', '3.10']

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/download-artifact@v2
        with:
          name: wheels
          path: wheelhouse

      - name: Get wheel filename
        run: echo "WHEELNAME=$(ls ./wheelhouse/sktime-*none-any.whl)" >> $GITHUB_ENV

      - name: Install wheel and extras
        run: python -m pip install "${{ env.WHEELNAME }}[all_extras,dev]"

      - name: Run tests
        run: make test

  test_windows_wheels:
    needs: build_wheels
    name: Test wheels on ${{ matrix.os }} with ${{ matrix.python-version }}
    runs-on: windows-2019
    strategy:
      matrix:
        include:
          # Window 64 bit
          - os: windows-2019
            python: 37
            python-version: '3.7'
            bitness: 64
            platform_id: win_amd64
          - os: windows-2019
            python: 38
            python-version: '3.8'
            bitness: 64
            platform_id: win_amd64
          - os: windows-2019
            python: 39
            python-version: '3.9'
            bitness: 64
            platform_id: win_amd64
          - os: windows-2019
            python: 310
            python-version: '3.10'
            bitness: 64
            platform_id: win_amd64
          - os: windows-2019
            python: 39
            python-version: 3.9
            bitness: 64
            platform_id: win_amd64

    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: test
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: anaconda, conda-forge,

      - run: conda --version
      - run: which python

      - uses: actions/download-artifact@v2
        with:
          name: wheels
          path: wheelhouse

      - name: Install conda libpython
        run: conda install -c anaconda -n test -y libpython

      - name: Display downloaded artifacts
        run: ls -l wheelhouse

      - name: Get wheel filename
        run: echo "WHEELNAME=$(ls ./wheelhouse/sktime-*none-any.whl)" >> $env:GITHUB_ENV

      - name: Activate conda env
        run: conda activate test

      - name: Install wheel and extras
        run: python -m pip install "${env:WHEELNAME}[all_extras,dev]"

      - name: Show conda packages
        run: conda list -n test

      - name: Run tests
        run: |
          mkdir -p testdir/
          cp .coveragerc testdir/
          cp setup.cfg testdir/
          python -m pytest

  upload_wheels:
    name: Upload wheels to PyPI
    runs-on: ubuntu-latest
    needs: [build_wheels,test_unix_wheels,test_windows_wheels]

    steps:
      - uses: actions/download-artifact@v2
        with:
          name: wheels
          path: wheelhouse

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: ${{ secrets.PYPI_USERNAME }}
          password: ${{ secrets.PYPI_PASSWORD }}
          packages_dir: wheelhouse/
